@model AbidiHiringTask.Application.Data_Transfer_Objects.EmployeeInputDto

<form asp-action="SubmitEmployee" method="post" style="direction:rtl;text-align:right" enctype="multipart/form-data">

    <div class="col-md-3">
        <label for="firstName" class="form-label">نام</label>
        <input type="text" class="form-control" id="firstName" name="FirstName" required />
    </div>
    <div class="col-md-3">
        <label for="lastName" class="form-label">نام خانوادگی</label>
        <input type="text" class="form-control" id="lastName" name="LastName" required />
    </div>
    <div class="col-md-3">
        <label for="personalCode" class="form-label">کد پرسنلی</label>
        <input type="text" class="form-control" id="personalCode" name="PersonalCode" required />
    </div>
    <div class="col-md-3">
        <label for="nationalCode" class="form-label">کد ملی</label>
        <input type="text" class="form-control" id="nationalCode" name="NationalCode" required />
    </div>
    <div class="col-md-3">
        <label for="Files">مدارک تحصیلی </label>
        <input type="file" class="form-control-file" id="Files" name="Files" multiple required>
    </div>
    <div class="col-md-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>
